<a href="https://colab.research.google.com/github/christie87/chocochip/blob/main/Web_Scraping_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Hands-on Lab : Web Scraping**

Estimated time needed: **30 to 45** minutes

## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [2]:
# Your code here
from bs4 import BeautifulSoup
import requests

Download the webpage at the url

In [3]:
#your code goes here
data=requests.get(url).text
data

'<!doctype html>\n<html lang="en">\n<head>\n<title>\nSalary survey results of programming languages\n</title>\n<style>\ntable, th, td {\n  border: 1px solid black;\n}\n</style>\n</head>\n\n<body>\n<hr />\n<h2>Popular Programming Languages</h2>\n<hr />\n<p>Finding out which is the best language is a tough task. A programming language is created to solve a specific problem. A language which is good for task A may not be able to properly handle task B. Comparing programming language is never easy. What we can do, however, is find which is popular in the industry.</p>\n<p>There are many ways to find the popularity of a programming languages. Counting the number of google searchs for each language is a simple way to find the popularity. GitHub and StackOverflow also can give some good pointers.</p>\n<p>Salary surveys are a way to find out the programmings languages that are most in demand in the industry. Below table is the result of one such survey. When using any survey keep in mind that the results vary year on year.</p>\n<hr />\n<table>\n<tbody>\n<tr>\n<td>No.</td>\n<td>Language</td>\n<td>Created By</td>\n<td>Average Annual Salary</td>\n<td>Learning Difficulty</td>\n</tr>\n<tr>\n<td>1</td>\n<td>Python</td>\n<td>Guido van Rossum</td>\n<td>$114,383</td>\n<td>Easy</td>\n</tr>\n<tr>\n<td>2</td>\n<td>Java</td>\n<td>James Gosling</td>\n<td>$101,013</td>\n<td>Easy</td>\n</tr>\n<tr>\n<td>3</td>\n<td>R</td>\n<td>Robert Gentleman, Ross Ihaka</td>\n<td>$92,037</td>\n<td>Hard</td>\n</tr>\n<tr>\n<td>4</td>\n<td>Javascript</td>\n<td>Netscape</td>\n<td>$110,981</td>\n<td>Easy</td>\n</tr>\n<tr>\n<td>5</td>\n<td>Swift</td>\n<td>Apple</td>\n<td>$130,801</td>\n<td>Easy</td>\n</tr>\n<tr>\n<td>6</td>\n<td>C++</td>\n<td>Bjarne Stroustrup</td>\n<td>$113,865</td>\n<td>Hard</td>\n</tr>\n<tr>\n<td>7</td>\n<td>C#</td>\n<td>Microsoft</td>\n<td>$88,726</td>\n<td>Hard</td>\n</tr>\n<tr>\n<td>8</td>\n<td>PHP</td>\n<td>Rasmus Lerdorf</td>\n<td>$84,727</td>\n<td>Easy</td>\n</tr>\n<tr>\n<td>9</td>\n<td>SQL</td>\n<td>Donald D. Chamberlin, Raymond F. Boyce.</td>\n<td>$84,793</td>\n<td>Easy</td>\n</tr>\n<tr>\n<td>10</td>\n<td>Go</td>\n<td>Robert Griesemer, Ken Thompson, Rob Pike.</td>\n<td>$94,082</td>\n<td>Difficult</td>\n</tr>\n</tbody>\n</table>\n<hr />\n</body>\n</html>'

Create a soup object

In [4]:
#your code goes here
soup = BeautifulSoup(data,"html.parser")

Scrape the `Language name` and `annual average salary`.

In [5]:
#your code goes here

table = soup.find('table')
#Get all rows from the table

for row in table.find_all('tr'): 
    
    cols = row.find_all('td') # in html a column is represented by the tag <td>
    language = cols[1].getText() # store the value in column 2
    avg_salary = cols[3].getText() # store the value in column 4
    
    print("{} {}".format(language,avg_salary))

Language Average Annual Salary
Python $114,383
Java $101,013
R $92,037
Javascript $110,981
Swift $130,801
C++ $113,865
C# $88,726
PHP $84,727
SQL $84,793
Go $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [6]:
import pandas as pd
df = pd.DataFrame(columns=["Language", "Average Annual Salary"])

for row in table.tbody.find_all("tr"):
    col = row.find_all("td")
    if (col != []):
        language = col[1].getText()
        salary = col[3].getText()

        df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)

df

<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)
<ipython-input-6-bffb1e0de7a3>:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({"Language":language, "Average Annual Salary":salary}, ignore_index=True)

      Language  Average Annual Salary
0     Language  Average Annual Salary
1       Python               $114,383
2         Java               $101,013
3            R                $92,037
4   Javascript               $110,981
5        Swift               $130,801
6          C++               $113,865
7           C#                $88,726
8          PHP                $84,727
9          SQL                $84,793
10          Go                $94,082

In [7]:
df1=pd.read_html(str(table), flavor='bs4')[0]
df1=df1.iloc[:,[1,3]]
df1

             1                      3
0     Language  Average Annual Salary
1       Python               $114,383
2         Java               $101,013
3            R                $92,037
4   Javascript               $110,981
5        Swift               $130,801
6          C++               $113,865
7           C#                $88,726
8          PHP                $84,727
9          SQL                $84,793
10          Go                $94,082

In [8]:
df.to_csv('popular-languages.csv')
df1.to_csv('popular-languages1.csv')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2020-10-17  | 0.1  | Ramesh Sannareddy  |  Created initial version of the lab |

 Copyright &copy; 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01).